.display {
	width: 400px;
	height: 100px;
	background-color: #222222;
	color: white;
	text-align: right;
}

.calc-display {

	h1 {
		text-align: right;
    	font-size: 80px;
    	margin-right: 20px;
	}
}