/* All styles for your Card Components live here */

img {
	max-width: 100%;
	height: auto;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
	text-decoration: none;
}

.cardContainer {
	height: auto;
	border: lightgray solid 1px;
	cursor: pointer;
	border-radius: 10px;
}

.content {
	padding: 0 1.5rem;
	color: black;
}

.content p {
	line-height: 1.5;
}

.content p.link {
	color: grey;
}